* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form #button {
  height: 3rem;
  width: 7rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: chartreuse;
  width: 40rem;
  padding: 2rem;
}

#mensagemdiv {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tipodiv {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#incrementodiv {
  padding: 2rem;
  display: none;
  text-align: center;
}

#incrementodiv input {
  margin-top: 1rem;
}

#escolhadiv {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#resultadodiv {
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  resize: none;
}
